<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table border="1">
        <tbody>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Operation</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td>
                <a th:href="@{/edit(id=${user.id})}">Edit</a>
                <a th:href="@{/delete(id=${user.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/new}">New User</a>
</body>
</html>